In [1]:
import pandas as pd
import time
from river import cluster
from river import metrics
from river.stream import iter_pandas

In [2]:
data = pd.read_csv("../datasets/agr_a_20k.csv")
features = data.columns[:-2]
stream = iter_pandas(X=data[features], y=data['class'])

In [3]:
data.head()

,salary,commission,age,elevel,car,zipcode,hvalue,hyears,loan,class
0,110499.735409,0.000000,54,3,6,4,135000.0,30,354724.182530,1
1,140893.779095,0.000000,44,4,12,7,135000.0,2,395015.339020,1
2,119159.651677,0.000000,49,2,0,3,135000.0,22,122025.085242,1
3,20000.000000,52593.636537,56,0,19,1,135000.0,30,99629.621457,1
4,93956.320488,0.000000,59,1,6,1,135000.0,1,458679.826238,0

In [4]:
clustream = cluster.CluStream(time_window=10,
                              max_micro_clusters=6,
                              n_macro_clusters=2,
                              time_gap=2,
                              seed=0,
                              halflife=0.5)

clustream_rand = metrics.Rand()

start_1 = time.time()
for sample_cnt, (x, y_true) in enumerate(stream):
    if sample_cnt <= 199:
        clustream.learn_one(x)
    else:
        clustream.learn_one(x)
        y_pred = clustream.predict_one(x)
        clustream_rand.update(y_true, y_pred)
end_1 = time.time()
print(end_1 - start_1)
print(clustream._memory_usage)

3.3339529037475586
33.3 KB

In [5]:
clustream_rand.cm

    0     1
0   126   10,260
1   116    9,298

In [6]:
print(clustream_rand)

Rand: 0.5011306866329848